<div class="row">
	<div class="col-md-6">
		<div class="box box-success">
			<%= simple_form_for [:management, @employee], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |e| %>
				<form role="form">
					<div class="box-body">
						<div class="field">
                            <%= e.input :firstname %>
                        </div>

                        <div class="form-group">
                            <%= e.input :lastname %>
                        </div>

                        <div class="form-group">
                                <%= e.input :middlename %>
                        </div>

                        <div class="form-group">
                                <%= e.input :gender, as: :select, collection: Employee::GENDER %>
                        </div>

                        <div class="form-group">
                                <%= e.input :email %>
                        </div>

                        <div class="form-group">
                                <%= e.input :contact_no %>
                        </div>

                        <div class="form-group">
                                <%= e.input :address %>
                        </div>

                        <div class="form-group">
                                <%= e.input :username %>
                        </div>

                        <div class="form-group">
                                <%= e.input :password %>
                        </div>

					</div>
                    
					<div class="box-footer">
						<button class="btn btn-success"><i class="save icon"></i>SAVE</button>
					</div>
				</form>
			<% end %>
		</div>
	</div>
</div>
