<section class="content-header">
	<h1>Employee
		<small>Control Panel</small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-3">
			<br><%= link_to "NEW EMPLOYEE", new_management_employee_path, class: "btn btn-block btn-success"%>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title">Employee Table</h3>
				</div>
				<div class="box-body">
					 <table class="ui selectable celled table">
			      <thead>
			        <tr>
			          <th>Name</th>
			          <th>Address</th>
			          <th>Email</th>
			          <th>Contact No.</th>
			          <th>Actions</th>
			        </tr>
			      </thead>
			      <tbody>
			        <% @employees.each do |e| %>
				      <tr>
				        <td><%= e.to_s %></td>
				        <td><%= e.address %></td>
				        <td><%= e.email %></td>
				        <td><%= e.contact_no %></td>
				        <td>
					        <%= link_to "SHOW", management_employee_path(e.id), class: "btn btn-success btn-s" %>
					        <%= link_to "EDIT", edit_management_employee_path(e.id), class: "btn btn-primary btn-s" %>
					        <%= link_to "DELETE", management_employee_path(e.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s" %>
				        </td>
				      </tr>
			    		<% end %>
			      </tbody>
			    </table>
				</div>
			</div>
		</div>
	</div>
</section>