<section class="content-header">
	<h1>Employee
		<small>Information</small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-body">
					<table class="ui selectable celled table">
			      <tbody>
			      	<tr>
			      		<td><b>Firstname:</b></td>
			      		<td><%= @employee.firstname %></td>
			      	</tr>
			      	<tr>	
			      		<td><b>Lastname:</b></td>
			      		<td><%= @employee.lastname %></td>
			      	</tr>
			      	<tr>
			      		<td><b>Middlename:</b></td>
			      		<td><%= @employee.middlename %></td>
			      	</tr>
			      	<tr>
			      		<td><b>Gender:</b></td>
			      		<td><%= @employee.gender %></td>
			      	</tr>
			      	<tr>
			      		<td><b>Email:</b></td>
			      		<td><%= @employee.email %></td>
			      	</tr>
			      	<tr>
			      		<td><b>Contact No:</b></td>
			      		<td><%= @employee.contact_no %></td>
			      	</tr>
			      	<tr>
			      		<td><b>Address:</b></td>
			      		<td><%= @employee.address %></td>
			      	</tr>
			      	<tr>
			      		<td><b>Username:</b></td>
			      		<td><%= @employee.username %></td>
			      	</tr>
			      	<tr>
			      		<td><b>Password:</b></td>
			      		<td><%= @employee.password %></td>
			      	</tr>
			      </tbody>
			    </table>
				</div>
			</div>
		</div>
	</div>
</section>

