<section class="content-header">
  <h1>Item Category  |<small>Control Panel</small></h1>
</section>
  <section class="content">
    <div class="well">
    <%= link_to "Add Item Category", new_management_item_category_path, class: "btn btn-success" %>
    <br><br>
      <table class="table hp-table table-splited">
        <div class="box box-success">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @item_categories.each do |ic| %>
            <tr>
              <td><%= ic.name %></td>
              <td><%= ic.description %></td>
              <td>
                <%= link_to "Show", management_item_category_path(ic.id), class: "btn btn-success btn-s" %>
                <%= link_to "Edit", edit_management_item_category_path(ic.id), class: "btn btn-primary btn-s" %>
                <%= link_to "Delete", management_item_category_path(ic.id), data: { :confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s" %>
              </td>
            </tr>
          <% end %>
         </tbody>
        </div>
      </table>
    </div>
  </section>